{% extends 'base.html' %}

{% load i18n %}

{% block title %}@{{ group }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>
    {% blocktrans %}Group {{ group }}{% endblocktrans %}
    <a href="{% url 'group-members' pk=group.pk slug=group.slug %}"><small>{% trans 'Members' %}</small></a>
</h2>
                {% url 'group-detail' pk=group.pk as next_url %}
                {% include 'cats/input_form.html' with form=form next_url=next_url %}
                <ul>
                    {% for member in group.members.all %}
                    <li><a href="">{{ member }}</a></li>
                    {% endfor %}
                </ul>
        {% for post in last_posts %}
            {% include 'cats/post_template.html' with post=post %}
        {% endfor %}
{% endblock %}


