{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Members' %} - {{ block.super }}{% endblock %}


{% block content %}
<a href="{% url 'group-member-add' pk=group.pk slug=group.slug %}">{% trans "Add a member" %}</a>
{% load guardian_tags %}
<table>
    <thead>
        <tr>
            <th>{% trans 'Username' %}</th>
            <th>{% trans 'Manager' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        {% get_obj_perms member for group as "group_perms" %}
        <tr>
            <td>{{ member.username }}</td>
            <td>{% if "manage_group" in group_perms %}Ok{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
