{% extends 'base.html' %}

{% block title %}{{ block.super }}@{{ group }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-10">
                {% url 'group-detail' pk=group.pk as next_url %}
                {% include 'cats/input_form.html' with form=form next_url=next_url %}
            </div>
            <div class="col-lg-2">
                <ul>
                    {% for member in group.members.all %}
                    <li><a href="">{{ member.user }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% for post in last_posts %}
            {% include 'cats/post_template.html' with post=post %}
        {% endfor %}
{% endblock %}


