{% load i18n %}
<form action="{{ next_url }}" method="post">
    {% csrf_token %}
    {{ form.errors }}
    <div class="input-part">
        <div class="input-group">
            {{ form.message }}
            <button type="submit" class="btn btn-large btn-info">
                {% trans 'Post' %}
            </button>
        </div>
         {{ form.url }}
         {{ form.parent }}
         {{ form.tags }}
        <div class="tags">
        </div>
    </div>
    <div class="hidden post post-suggest">
        <img src="" class="thumbnail" />
        <h4 class="title"></h4>
        <p class="description"></p>
    </div>
</form>
