{% load i18n %}
{% load cache %}
<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="">

                    {% url 'user-detail' user=post.author as profile_url %}
                    {% trans 'By ' %}<a href="{{ profile_url }}">{{ post.author }}</a>
                    <span title="{{ post.posted_at }}" class="text-muted">
                        {% blocktrans with post.posted_at|timesince  as time %}{{ time }} ago{% endblocktrans %}
                    </span>
                </div>
            </div>
            {% cache 99999 post-message post.pk %}
            <div class="panel-body">
                <h3>{{ post.message }}</h3>
                {% if post.has_template %}
                <div class="post">
                    <h4 class="title">{{ post.metadata.title }}</h4>
                    {% if post.metadata.type == 'video' %}
                    <div class="embed-video">
                        {% autoescape off %}
                        {{ post.metadata.embed_video }}
                        {% endautoescape %}
                    </div>
                    {% else %}
                    <img src="{{ post.metadata.thumbnail }}" class="col-lg-11" />
                    {% endif %}
                    <p class="description">{% autoescape off %}{{ post.metadata.description|truncatechars:400 }}{% endautoescape %}</p>
                </div>
                {% endif %}
            </div>
            <div class="panel-footer">
                {% trans 'From ' %}
                <a href='{{ post.url }}'>
                    {% if post.metadata.strate_logo != None %}
                    <img src="/assets/images/strates/logos/{{ post.metadata.strate_logo }}" height="24px" />
                    {{ post.metadata.strate_name }}
                    {% else %}
                    {{ post.url }}
                    {% endif %}
                </a>
            </div>
            {% endcache %}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group">
                    <button class="btn btn-sm btn-info">
                        <span class="likes">{{ post.likes }}</span>
                        <i class="glyphicon glyphicon-heart"></i>
                    </button>
                    <button class="btn btn-sm btn-success vote upvote" data-pk="{{ post.pk }}">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                        {% trans 'Up' %}
                    </button>
                    <button class="btn btn-sm btn-danger vote downvote" data-pk="{{ post.pk }}">
                        <i class="glyphicon glyphicon-thumbs-down"></i>
                        {% trans 'Down' %}
                    </button>
                </div>
            </div>
            <div class="panel-body">
                {{ post.answers_count }}
                {% trans 'answers' %}
                <div class="infos">
                    <div class="tags">
                        {% for tag in post.tags.all %}
                        <a href="{% url 'tag' tag=tag %}">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-success answer-add" data-pk="{{ post.pk }}">
                                {% trans 'Answer' %}
                                <i class="glyphicon glyphicon-comment"></i>
                            </a>
                        </div>
                    </div>
                    <hr class="clearfix" />
                </div>
                <div class="hidden answer">
                    {% include 'cats/input_form.html' with form=answer_form %}
                </div>
            </div>
        </div>
    </div>
</div>
