{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Sign up' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-4">
        <form action="{% url 'user-sign-up' %}" method="post">
        {% csrf_token %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>{% trans 'Sign up' %}</h2>
            </div>
            <div class="panel-body">
                {{ form.errors }}
                {{ form|crispy }}
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-warning">
                    {% trans 'Sign up' %}
                </button>
            </div>
        </div>
        </form>
    </div>
</div>


{% endblock %}
