{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Sign up' %} - {{ block.super }}{% endblock %}

{% block content %}
        <form action="{% url 'user-sign-up' %}" method="post">
        {% csrf_token %}
                <h2>{% trans 'Sign up' %}</h2>
                {{ form.errors }}
                <table>
                    <tr>
                        <td>
                            {{ form.username.label }}
                        </td>
                        <td>
                            {{ form.username }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.first_name.label }}
                        </td>
                        <td>
                            {{ form.first_name }}
                        </td>
                        <td>
                            {{ form.last_name.label }}
                        </td>
                        <td>
                            {{ form.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.email.label }}
                        </td>
                        <td>
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.password1.label }}
                        </td>
                        <td>
                            {{ form.password1 }}
                        </td>
                        <td>
                            {{ form.password2.label }}
                        </td>
                        <td>
                            {{ form.password2 }}
                        </td>
                    </tr>  
                </table>

                <button type="submit">
                    {% trans 'Sign up' %}
                </button>
        </form>


{% endblock %}
