<!DOCTYPE html>
{% load i18n %}
{% load bootstrap3 %}
<html lang="en">
    <head>
        <!--{% load bootstrap_themes %}
        {% bootstrap_styles theme='united' type='min.css' %}
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>{% block title %}Lulz{% endblock %}</title>

    </head>

    <body role="document">
        <header>
            <ul class="nav-right">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'user-sign-in' %}">{% trans 'Sign in' %}</a></li>
                <li><a href="{% url 'user-sign-up' %}">{% trans 'Sign up' %}</a></li>
                {% else %}
                <li><a href="#">Profile</a></li>
                <li><a href="{% url 'user-log-out' %}">{% trans 'Log out' %}</a></li>
                {% endif %}
            </ul>
            <ul>
                <li class="brand"><a href="#">Lulz</a></li>
                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'hot' %}">{% trans 'Hot' %}</a></li>
                <li><a href="{% url 'trending' %}">{% trans 'Trending' %}</a></li>
            </ul>
        </header>

        <div class="container">
                {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">
                    {{ message }}
                </p>
                {% endfor %}
                {% if user.is_authenticated %}
                <div class="panel">
                    <div class="menu">
                        <h3>{% trans 'Groups' %}</h3>
                        <ul>
                            {% for group in user.groups.all %}
                            <li><a href="{{ group.get_absolute_url }}">{{ group }}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'group-create' %}">{% trans 'Create a group' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu">
                        <h3>{% trans 'Channels' %}</h3>
                        <ul>
                            {% for channel in user.followed_tags.all %}
                            <li><a href="{% url 'tag' tag=channel %}">#{{ channel }}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="{% url 'user-followed-chans' %}">{% trans 'Add chan' %}</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        {% load dajaxice_templatetags %}
        {% dajaxice_js_import %}
        <!--{% bootstrap_script use_min=True %}-->
        <script type="text/javascript">
            function refresh_vote(data) {
                console.log(data);
                var item = '.vote[data-pk=' + data.pk + ']'
                $(item).parent().find('.likes').text(data.likes);
            }
            $('.answer-add').click(function() {
                var container = $(this).parents('.post');
                var answer = container.find('.answer');
                answer.find('[name="parent"]').val($(this).attr('data-pk'));
                answer.removeClass('hidden');
                //container.slideUp();
                answer.slideDown();
                return false;
            });
            function show_suggestion(data, context) {
                if(data.type == 'video' || data.type == 'image') {
                    console.log(context);
                    if(data.description.length > 200) {
                        data.description = data.description.substring(0, 200) + '...';
                    }
                    var prop = context.parents('form').find('.post-suggest');
                    prop.find('.title').text(data.title);
                    prop.find('.thumbnail').attr('src', data.thumbnail);
                    prop.find('.description').html(data.description);
                    prop.hide();
                    prop.removeClass('hidden');
                    prop.slideDown();
                    context.parents('form').find('.post-url').val(context.val().trim());
                    context.val('');
                }
            }

            $('input.post-message').keyup(function(event) {
                var context = $(this);
                if(event.keyCode == 86) {
                    var input = context.val();
                    if(input.match(new RegExp('^https?:\/\/.*\.(jpg|png|gif)', 'gi'))) {
                        show_suggestion({
                            'type': 'image',
                            'thumbnail': input,
                            'description': '',
                            'title': '',
                            'author': '',
                        }, context);
                    }
                    Dajaxice.cats.suggest(
                        function(data) {
                            show_suggestion(data, context);
                        }, {
                            url: $(this).val().trim(),
                        })
                } else if(event.keyCode == 32 || event.keyCode == 13) {
                    var input = context.val();
                    var mod = event.keyCode == 13 ? 0 : -1;
                    input = input.substring(0, input.length + mod);
                    var item = input.substring(input.lastIndexOf(' ') + 1);
                    var reg = new RegExp('^#([a-z0-9\-]+)$', 'gi');
                    if(item.match(reg)) {
                        var bits = reg.exec(item);
                        context.parents('form').find('.tags').append(
                            '&nbsp<a href="" title="{% trans 'Delete '%}" class="tag" data-tag="' + bits[1] + '">' + bits[0] + '</a>'
                        );
                        var tags_input = context.parents('form').find('.post-tags');
                        tags_input.val((tags_input.val() + ' ' + bits[1]).trim());
                        input = input.substring(0, input.lastIndexOf(' ') + 1);
                        context.val(input);
                    }

                }
            });
            $('.downvote').click(function() {
                Dajaxice.cats.downvote(refresh_vote, {
                    pk: $(this).attr('data-pk'),
                });
            });
            $('.upvote').click(function() {
                Dajaxice.cats.upvote(refresh_vote, {
                    pk: $(this).attr('data-pk'),
                });
            });
        </script>
        {% block javascript %}

        {% endblock %}

    </body>
</html>
