<form action="{% url "home" %}" method="post">
    {% csrf_token %}
    {{ form.errors }}
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="input-group">
                {{ form.message }}
                {{ form.url }}
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-large btn-info">
                        {% trans 'Post' %}
                    </button>
                </div>
            </div>
        </div>
        <div class="hidden post panel-body post-video">
            <div class="thumbnail">
                <img src="" />
            </div>
            <h4 class="title"></h4>
            <p class="description"></p>
        </div>
    </div>
</form>
